@import './vars.css';

.buttonNotClicked{
    background-color: #1b1a1a5c;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
}

.buttonClicked{
    background-color: #09af64;
    border: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: var(--size);
    height: var(--size);
}